// ══════════════════════════════════════════════════════════
// Colors
// ══════════════════════════════════════════════════════════

$black:       #000000;
$white:       #FFFFFF;
$orange:      #FF6E2D;
$cyan:        #6EBFDD;
$acid-green:  #C2DB07;
$fuchsia:     #BE3273;
$cream-light: #FEFCF1;
$cream:       #FFF9F2;

// ══════════════════════════════════════════════════════════
// Font families
// ══════════════════════════════════════════════════════════

$als-trigger-luzhniki:  "ALS Trigger Luzhniki", "Arial", sans-serif;
$als-pofo:              "ALS Pofo", "Arial", sans-serif;
